*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #181719;
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
}

.logo {
    font-family: "Crimson Pro", serif;
    font-weight: 200;
    font-size: 0.875rem;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.875rem 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5.375rem;
}

nav ul li:first-child {
    font-weight: 700;
    border-bottom: 2px solid #fff;
    padding-bottom: 0.5rem;
}

nav ul li a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 22px;
    color: #fff;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 61px;
    color: #fff;
}

.subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
    color: #fff;
}

.read-more {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    line-height: 22px;
}

.arrow {
    margin-left: .5em;
    cursor: pointer;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.text-container {
    width: 30%;
}

.image-container {
    width: 53%;
}

.card {
    position: absolute;
    right: 75px;
    bottom: -100px;
    width: 25.625rem;
    height: 11.813rem;
    background-color: #181719;
    filter: drop-shadow(2px 2px 1px #fff);
    padding: 1em;
    animation: scale-down-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-down-center {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.card img {
    width: 5.313rem;
    border-radius: 50%;
    float: left;
    
}

.card-text {
    width: 50%;
    margin: 0 auto;
}

.card-text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 17px;
    color: #fff;
}

.card-text p {
    color: #828282;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 14px;
}

.card h1 {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
    margin: 2em auto;
}

footer p {
    text-align: center;
    margin-top: 7em;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #a9a9a9;
    font-size: 0.875rem;
    line-height: 17px;
}

@media screen and (max-width: 420px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #181719;
        width: 100%;
        /* border-radius: 10px; */
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 99;
        height: 25%;
    }

    nav ul {
        gap: 1rem;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: .25rem 0;
        padding: 0;
        width: 100%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .container-flex {
        flex-direction: column;
        margin: 0 auto;
    }

    .text-container {
        width: 100%;
    }

    .image-container {
        width: 100%;
    }

    .card {
        width: 18.75rem;
        height: 8.625rem;
        right: 15px;
        bottom: -90px;
    }

    .card-text {
        width: 90%;
        margin: 0 4em;
    }

    .card img {
        width: 3.5rem;
    }

    .card h1 {
        font-size: 1rem;
    }

    footer p {
        margin-top: 10em;
    }

    nav ul li:first-child {
        border-bottom: 1px solid white;
        width: 25%;
        margin: 0 auto;
    }
}