*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #181719;
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
}

.logo {
    font-family: "Crimson Pro", serif;
    font-weight: 200;
    font-size: 0.875rem;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.875rem 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5.375rem;
}

nav ul li:first-child {
    font-weight: 700;
    border-bottom: 2px solid #fff;
    padding-bottom: 0.5rem;
}

nav ul li a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 22px;
    color: #fff;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 61px;
    color: #fff;
}

.subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
    color: #fff;
}

.read-more {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    line-height: 22px;
}

.arrow {
    margin-left: .5em;
    cursor: pointer;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.text-container {
    width: 30%;
}

.image-container {
    width: 53%;
}

.card {
    position: absolute;
    right: 75px;
    bottom: -100px;
    width: 25.625rem;
    height: 11.813rem;
    background-color: #181719;
    filter: drop-shadow(2px 2px 1px #fff);
    padding: 1em;
}

.card img {
    width: 5.313rem;
    border-radius: 50%;
    float: left;
    
}

.card-text {
    width: 50%;
    margin: 0 auto;
}

.card-text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 17px;
    color: #fff;
}

.card-text p {
    color: #828282;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 14px;
}

.card h1 {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 30px;
    margin: 2em auto;
}

footer p {
    text-align: center;
    margin-top: 7em;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #a9a9a9;
    font-size: 0.875rem;
    line-height: 17px;
}